    <div class="container">
{{> navigation}}
    <main class="main">
      <!-- carrusel bootstrap, ya es responsive :D -->
      <div id="carouselExampleFade" class="carrusel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/carrusel-home/carrusel1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/carrusel-home/carrusel2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/carrusel-home/carrusel3.png" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>


      <!-- Parte de servicios, resumen corto -->
      <div class="servicios">
        <div id="s1" class="card">
          <div class="imgServicio">
            <img src="img/carrusel-home/item 1.jfif" alt="" height="300rem" weight="350rem">
          </div>
          <div class="infoServicio">
            <p class="titleService">Beneficios de los masajes</p>
            <p class="info">
            Por lo general, los masajes se consideran parte de la medicina integradora. Se ofrecen cada vez más junto al tratamiento estándar para una amplia gama de afecciones y situaciones médicas.
            <br>
            Los beneficios de los masajes pueden incluir:
            <br>
            Reducción del estrés y aumento de la relajación.
            <br>
            Reducción del dolor y de la inflamación y tensión de los músculos.
            <br>
            Mejora de la circulación, de la energía y del estado de alerta.
            <br>
            Disminución de la frecuencia cardíaca y la presión arterial.
            <br>
            Mejora de la función inmunológica.
            </p>
          </div>
        </div>

        <div id="s2" class="card">
          <div class="imgServicio">
            <img src="img/carrusel-home/item 2.jpg" alt="" height="300rem" weight="350rem">
          </div>
          <div class="infoServicio">
            <p class="titleService">Tipos de depilación</p>
            <p class="info">
              1.       Depilación con cuchilla
              <br>
              2.       Depilación con cera
              <br>
              3.       Depilación con crema
              <br>
              4.       Depilación con hilo
              <br>
              5.       Depilación con aparatos mecánicos
              <br>
              6.       Depilación láser
              <br>
              7.       Depilación Luz Pulsada
              <br>
              8.       Depilación termoquímica
              </p>
          </div>
        </div>

        <div id="s3" class="card">
          <div class="imgServicio">
            <img src="img/carrusel-home/item 3.jpg" alt="" height="300rem" weight="350rem">
          </div>
          <div class="infoServicio">
            <p class="titleService">Como funciona la mascara led<p>
            <p class="info">
              Los colores de la máscara LED vienen determinados por la longitud de la onda que emiten, y que ayuda a la estimulación del colágeno de la piel.
              <br>
              La luz LED roja estimula los fibroblastos para la producción de colágeno y renovación celular, por lo que a su vez son una buena opción como antiarrugas, para mitigar el daño solar o las estrías. Como consecuencia de este tratamiento, la piel rejuvenece, se ve más radiante y mejora la apariencia, textura, hidratación y firmeza.
              <br>
              La luz LED azul actúa deteniendo el desarrollo de las bacterias responsables del acné.
              <br>
              La luz LED ámbar ayuda a disminuir la rojez y las inflamaciones de la piel.
              <br>
              La luz LED verde se usa para pieles con exceso de pigmentación o manchas, ayuda a la cicatrización y acelera la regeneración de la piel.
              <br>
              La luz LED blanca es eficaz contra la flacidez, ayuda a atenuar las líneas de expresión, regenera la piel envejecida.
              <br>
              La luz LED celeste relaja la piel sensible, actúa como calmante y anti estrés.
            </p>
          </div>
        </div>
      </div>
    </main>
{{>footer}}
    </div>
