.img_spa_1{
width: 100%;
height: 600px;
border-radius: 20px;
background-size: contain;
background-repeat: no-repeat;


}
.img_spa_2{
    width: 100%;
    height: 600px;
    border-radius: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    
 }
 .img_spa_3{
        width: 100%;
        height: 600px; 
        border-radius: 20px;
        background-size: contain;
        background-repeat: no-repeat;
       
        
 }

  .mapa {
    width: 100%;
    height: 450px;
    border-radius: 20px; 

  }


