    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <i class="fas fa-leaf"></i>
          </a>
          <span class="text-muted">© 2021 D'Luchy Spa</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="wrapIcon" class="ms-3"><a class="text-muted" href="https://www.instagram.com/dluchy_spa/?hl=es"><i class="fab fa-instagram"></i></a></li>
          <li class="wrapIcon" class="ms-3"><a class="text-muted" href="https://www.facebook.com/DLuchy-Spa-Movil-107247218239725"><i class="fab fa-facebook-square"></i></a></li>
          <li class="wrapIcon" class="ms-3"><a class="text-muted" href="https://api.whatsapp.com/send?phone=573125099858&text=Hola,%20Deseo%20hacer%20una%20reservacion"><i class="fab fa-whatsapp"></i></a></li>
        </ul>
      </footer>
    </div>