{{#if guardado}}
<div class="container p-2">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{guardado}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#if error}}
<div class="container p-2">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{error}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>
{{/if}}