<div class="contenedor">
    <header class="header">
      <div class="logo">
        <a href="/"><img src="img/logo.png" alt="imagen logo spa" height="150rem" weight="200rem"></a>
      </div>
      <div class="hamb-menu">
        <i id="icon" class="fas fa-bars"></i>
      </div>
      <nav id="menu" class = "nav-menuH activo">
          <ul class = "listHamb">
            <li><a href="/serviceAdmin">Servicios</a></li>
            <li><a href="/profileAdmin">Usuarios</a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
          </ul>
      </nav>

      <nav class="nav-menu">
        <ul>
            <li><a href="/serviceAdmin">Servicios</a></li>
            <li><a href="/profileAdmin">Usuarios</a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
        </ul>
      </nav>
    </header>
</div> 
