   <div class=contenedor>
    <header class="header">
      <div class="logo">
        <a href="/"><img src="img/logo.png" alt="imagen logo spa" height="150rem" weight="200rem"></a>
      </div>
      <div class="hamb-menu">
        <i id="icon" class="fas fa-bars"></i>
      </div>
      <nav id="menu" class = "nav-menuH activo">
          <ul class = "listHamb">
            {{#if user}}
            <li><a href="/about">Quienes somos</a></li>
            <li><a href="/service">Servicios</a></li>
            <li><a href="/ubication">Ubicaci贸n</a></li>
            <li><a href="/galery">Galeria</a></li>
            <li><a href="/health">Salud</a></li>
            <li><a href="/profile">Perfil</a></li>
            <li><a href="/logout">Cerrar sesi贸n</a></li>
            <li><a href="/login">Reservar</a></li>
            {{else}}
            <li><a href="/about">Quienes somos</a></li>
            <li><a href="/service">Servicios</a></li>
            <li><a href="/ubication">Ubicacion</a></li>
            <li><a href="/galery">Galeria</a></li>
            <li><a href="/health">Salud</a></li>
            <li><a href="/login">Reservar</a></li>
            {{/if}}
          </ul>
      </nav>

      <nav class="nav-menu">
        <ul>
          {{#if user}}
          <li><a href="/about">Quienes somos</a></li>
          <li><a href="/service">Servicios</a></li>
          <li> <a href="/ubication">Ubicacion</a></li>
          <li><a href="/galery">Galeria</a></li>
          <li><a href="/health">Salud</a></li>
          <li><a href="/profile">Perfil</a></li>
          <li><a href="/logout">Cerrar sesi贸n</a></li>
          <li>
            <a href="/reserver">
              <button class="btnReserva" type="button" name="button">Reservar</button>
            </a>
          </li>
          {{else}}
          <li><a href="/about">Quienes somos</a></li>
          <li><a href="/service">Servicios</a></li>
          <li> <a href="/ubication">Ubicaci贸n</a></li>
          <li><a href="/galery">Galeria</a></li>
          <li><a href="/health">Salud</a></li>
          <li>
            <a href="/login">
              <button class="btnReserva" type="button" name="button">Reservar</button>
            </a>
          </li>
          {{/if}}
        </ul>
      </nav>
    </header>
</div> 
