   <div class=contenedor>
    <header class="header">
      <div class="logo">
        <img href="/index" src="img/logo.png" alt="imagen logo spa" height="150rem" weight="200rem">
      </div>
      <div class="hamb-menu">
        <i class="fas fa-bars"></i>
      </div>
      <nav class="nav-menu">
        <ul>
          <li><a href="/about">Quienes somos</a></li>
          <li><a href="/service">Servicios</a></li>
          <li> <a href="/ubication">Ubicacion</a></li>
          <li><a href="/galery">Galeria</a></li>
          <li>
            <a href="/login">
              <button class="btnReserva" type="button" name="button">Reservas</button>
            </a>
          </li>
        </ul>
      </nav>
    </header>
</div> 