{{>navigation}}
<main class="Main_QuienesSomos">

      <div class="Img_div"><img src="/img/logo.png" alt="QuienesSomos" id="QuienesSomosImg"></div>
      <div class="Text_Container">
        <h2>¿Te encuentras <b>AGOTADO, ESTRESADO o ABURRIDO</b> de la rutina diaria?</h2><br><br>
        <h2>En D'lucys Spa entendemos que la rutina diaria puede ser agotadora, es por eso que estamos comprometidos a ayudarte.</h2><br><br>
        <h2><b>¿Te preguntaras como podemos ayudarte?</b></h2><br><br>
        <h2>actualmente en nuestro spa contamos con decenas de servicios Faciales y Corporales diseñados para ofrecer el mas alto nivel de relajacion.</h2>
      </div>
      <div class="Mision">
        <h1>Mision</h1>
        <p>Estamos comprometidos con el bienestar de nuestros clientes, nuestro equipo y nuestra tierra al brindar el más alto nivel de servicio al cliente, al mantener
           el más alto nivel de profesionalismo e incorporar práctias ecológicas y productos orgánicos en entornos de spa tranquilos.
        </p>
      </div>
      <div class="Img_div"><img src="/img/logo.png" alt="QuienesSomos2" id="QuienesSomosImg2"></div>
      <div class="Vision">
        <h1>Vision</h1>
        <p>Proporcionar servicios de bienestar de Spa de la más alta calidad y desarrollar nuevos programas de estilo de vida basados en un enfoque
          holístio para todos los que quieren disfrutar de bienestar y belleza.
        </p>
      </div>
</main>
{{>footer}}