<div class="container">
{{>navigation}}
<br>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="/img/Galeria/eliminacion-de-verrugas-2.png" class="card-img-top" alt="..." height="300em" weight="448em">
      <div class="card-body">
        <h5 class="card-title">Eliminación de verrugas</h5>
        <p class="card-text">En general pueden ser 2 sesiones, 3 máximo. Se requiere una valoración clínica para saber, número, tamaño y riesgo cicatrizal.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/img/Galeria/eliminacion-de-verrugas.jpg" class="card-img-top" alt="..." height="300em" weight="448em">
      <div class="card-body">
        <h5 class="card-title">Eliminación de verrugas</h5>
        <p class="card-text">Se usa un haz de luz intenso, o láser, para quemar y destruir el tejido de la verruga. </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/img/Galeria/masajes 2.jpg" class="card-img-top" alt="..." height="300em" weight="448em">
      <div class="card-body">
        <h5 class="card-title">Masajes reductores</h5>
        <p class="card-text"> Elimina la acumulación de grasa localizada y estiliza el contorno de la figura.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/img/Galeria/masajes1.jpg" class="card-img-top" alt="..." height="300em" weight="448em">
      <div class="card-body">
        <h5 class="card-title">Masajes relajantes</h5>
        <p class="card-text">Se pierde la sensación de dolor y los músculos se relajan.</p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="/img/Galeria/dermapen.jpeg" class="card-img-top" alt="..." height="300em" weight="448em">
      <div class="card-body">
        <h5 class="card-title">Dermapen</h5>
        <p class="card-text">es un tratamiento facial que rejuvenece y mejora la piel del rostro, sin efectos secundarios y sin cirugía.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/img/Galeria/dermapen2.jpg" class="card-img-top" alt="..." height="300em" weight="448em">
      <div class="card-body">
        <h5 class="card-title">Dermapen</h5>
        <p class="card-text"> promueve la formación de colágeno y elastina de forma natural.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/img/Galeria/Rejuvenecimiento-Facial-Led.jfif" class="card-img-top" alt="..." height="300em" weight="448em">
      <div class="card-body">
        <h5 class="card-title">Mascara led</h5>
        <p class="card-text">Se trata de un tratamiento de cromoterapia no agresivo ni invasivo que, a diferencia de la luz IPL, no enrojece, no calienta la piel, ni provoca dolor.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/img/Galeria/depilacion-cera.jpg" class="card-img-top" alt="..." height="300em" weight="448em">
      <div class="card-body">
        <h5 class="card-title">Depilacion cera</h5>
        <p class="card-text">Este tipo de depilación extrae el pelo desde el folículo, por lo que luego tarda más en salir.</p>
      </div>
    </div>
  </div>
</div>
{{>footer}}
</div>