<div class="container">
{{> navigation}}
    <main class = "main">

      <div class = "servicios">
        <div id = "s1" class="card">
          <div class = "imgServicio">
            <img src="/img/logo.png" alt="" height="5rem" weight="10rem">
          </div>
          <div class ="infoServicio">
            <p class = "titleService">Tratamientos Faciales</p>
              <div class="table-responsive">
                <table class="table">
                  <tr>
                    <th>Nombre del Servicio</th>
                    <th>Descripción del Servicio</th>
                    <th>Precio</th>
                  </tr>
                  <tr>
                    <td>Higiene Facial Profunda</td>
                    <td> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</td>
                    <td>$ Bastante</td>
                  </tr>
                  <tr>
                    <td>Anti acné</td>
                    <td> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</td>
                    <td>$ Bastante</td>
                  </tr>
                  <tr>
                    <td>Despigmentación</td>
                    <td> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</td>
                    <td>$ Bastante</td>
                  </tr>
                  <tr>
                    <td>Dermapen</td>
                    <td> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</td>
                    <td>$ Bastante</td>
                  </tr>
                  <tr>
                    <td>Plasma pen</td>
                    <td> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</td>
                    <td>$ Bastante</td>
                  </tr>
                   <tr>
                    <td>Lifsting</td>
                    <td> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</td>
                   <td>$ Bastante</td>
                  </tr>
                   <tr>
                    <td>Porcelanización</td>
                    <td> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</td>
                   <td>$ Bastante</td>
                  </tr>
                   <tr>
                    <td>Hidratación labial</td>
                    <td> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</td>
                    <td>$ Bastante</td>
                  </tr>
                </table>
              </div>
          </div>
        </div>

        <div id="s2"   class="card">
          <div class = "imgServicio">
            <img src="/img/logo" alt="" height="400rem" weight="500rem">
          </div>
          <div class ="infoServicio">
            <p class = "titleService" >Tratamientos Corporales</p>
           <div class="table-responsive">
                <table class="table">
                  <tr>
                    <th>Nombre del Servicio</th>
                    <th>Descripción del Servicio</th>
                    <th>Precio</th>
                  </tr>
                  <tr>
                    <td>Cauterizacion de Verrugas y lunares</td>
                    <td> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</td>
                    <td>$ Bastante</td>
                  </tr>
                  <tr>
                    <td>Camuflaje Estético Estría-cicatriz</td>
                    <td> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</td>
                    <td>$ Bastante</td>
                  </tr>
                  <tr>
                    <td>Fibroblast</td>
                    <td> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</td>
                    <td>$ Bastante</td>
                  </tr>
                  <tr>
                    <td>Tratamiento para Glúteos</td>
                    <td> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</td>
                    <td>$ Bastante</td>
                  </tr>
                  <tr>
                    <td>Exfoliación corporal</td>
                    <td> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</td>
                    <td>$ Bastante</td>
                  </tr>
                   <tr>
                    <td>Yeso terapia</td>
                    <td> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</td>
                   <td>$ Bastante</td>
                  </tr>
                   <tr>
                    <td>Tratamiento para Celulitis</td>
                    <td> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</td>
                   <td>$ Bastante</td>
                  </tr>
                   <tr>
                    <td>Tratamientos Reductor</td>
                    <td> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</td>
                    <td>$ Bastante</td>
                  </tr>
                </table>
              </div>
          </div>
        </div>

        <div id="s3" class="card">
          <div class = "imgServicio">
            <img src="/img/logo.png" height="4rem" weight="5rem">
          </div>
          <div class ="infoServicio">
            <p class = "titleService" >Masajes<p>
            <div class="table-responsive">
                <table class="table">
                  <tr>
                    <th>Nombre del Servicio</th>
                    <th>Descripción del Servicio</th>
                    <th>Precio</th>
                  </tr>
                  <tr>
                    <td>Masajes reductores</td>
                    <td> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</td>
                    <td>$ Bastante</td>
                  </tr>
                  <tr>
                    <td>Masajes relajantes</td>
                    <td> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</td>
                    <td>$ Bastante</td>
                  </tr>
                  <tr>
                    <td>Masajes terapeuticos</td>
                    <td> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</td>
                    <td>$ Bastante</td>
                  </tr>
                </table>
              </div>
          </div>
      </div>
    </div>
    </main>
{{>footer}}
</div>
