<div class="container">
{{> navigation}}
    <main class = "main">

      <div class = "servicios">
        <div id = "s1" class="card">
          <div class = "imgServicio">
            <img src="/img/service/tratamientoFacial.jpg" alt="" height="300rem" weight="450rem">
            <br><br><br>
            <img src="/img/service/tratamientoFacial2.jpg" alt="" height="200rem" weight="250rem">
          </div>
          <div class ="infoServicio">
            <p class = "titleService">Tratamientos Faciales</p>
              <div class="table-responsive">
                <table class="table">
                  <tr>
                    <th>Nombre del Servicio</th>
                    <th>Descripción del Servicio</th>
                    <th>Precio</th>
                  </tr>
                  <tr>
                    <td>Higiene Facial Profunda</td>
                    <td>Es la limpieza que se realiza a la piel del rostro, lo cual corrige la dilatación de los poros, eliminan los puntos negro y demás impurezas.</td>
                    <td>$60.000</td>
                  </tr>
                  <tr>
                    <td>Anti acné</td>
                    <td>Combaten las bacterias que producen esta molesta afección, eliminando previniendo la proliferación de granos, espinillas, puntos negros.</td>
                    <td>$85.000</td>
                  </tr>
                  <tr>
                    <td>Despigmentación</td>
                    <td>Es una decoloración de la piel. Ciertas zonas de la piel no tienen más melanina, el pigmento natural de la piel, la cual ha sido destruida.</td>
                    <td>$58.000</td>
                  </tr>
                  <tr>
                    <td>Dermapen</td>
                    <td>Es un tratamiento facial que rejuvenece y mejora la piel del rostro, sin efectos secundarios y sin cirugía..</td>
                    <td>$95.000</td>
                  </tr>
                  <tr>
                    <td>Plasma pen</td>
                    <td>Es un dispositivo generados de plasma, su tecnología se basa en la formación de un arco voltaico que se forma a partir de la excitación de los electrones.</td>
                    <td>$60.000</td>
                  </tr>
                   <tr>
                    <td>Lifsting</td>
                    <td>Es un procedimiento de cirugía plástica estética que consiste en la eliminación quirúrgica de arrugas de la piel.</td>
                   <td>$45.000</td>
                  </tr>
                   <tr>
                    <td>Porcelanización</td>
                    <td>Es un tratamiento para hidratar la piel, dar mayor iluminación y mejorar su calidad. Se realiza una microdermoabrasión suave en función del tipo de piel para eliminar células muertas.</td>
                   <td>$40.000</td>
                  </tr>
                   <tr>
                    <td>Hidratación labial</td>
                    <td>Consiste en microinyecciones de ácido hialurónico para eliminar arrugas finas y aumentar el atractivo de los labios de manera natural.</td>
                    <td>$50.000</td>
                  </tr>
                </table>
              </div>
          </div>
        </div>

        <div id="s2"   class="card">
          <div class = "imgServicio">
            <img src="/img/service/tratamientoCorporal.jpg" alt="" height="200rem" weight="250rem">
            <br><br><br>
            <img src="/img/service/tratamientoCorporal2.jpg" alt="" height="200rem" weight="250rem">
            <br><br><br>
            <img src="/img/service/tratamientoCorporal3.jpg" alt="" height="200rem" weight="250rem">
          </div>
          <div class ="infoServicio">
            <p class = "titleService" >Tratamientos Corporales</p>
           <div class="table-responsive">
                <table class="table">
                  <tr>
                    <th>Nombre del Servicio</th>
                    <th>Descripción del Servicio</th>
                    <th>Precio</th>
                  </tr>
                  <tr>
                    <td>Cauterizacion de Verrugas y lunares</td>
                    <td>Es el proceso mediante el cual se remueve verrugas benignas de la piel, mediante una técnica que se denomina Thermólisis, un equipo eléctrico que emite calor localizado en la verruga que se desea remover, quitándola de manera inmediata.</td>
                    <td>$10.000</td>
                  </tr>
                  <tr>
                    <td>Camuflaje Estético Estría-cicatriz</td>
                    <td>Es un tratamiento permanente que utiliza la técnica del tatuaje con pigmentos específicos que se depositan en la primera capa de la piel para cubrir las estrías.</td>
                    <td>$75.000</td>
                  </tr>
                  <tr>
                    <td>Fibroblast</td>
                    <td>Se trabaja únicamente en la epidermis y no se traspasa a papila dérmica , las zonas adyacentes no sufren ningún cambio ni alteración.</td>
                    <td>$60.000</td>
                  </tr>
                  <tr>
                    <td>Tratamiento para Glúteos</td>
                    <td>Para la flacidez de los glúteos precisa tensar la piel. Para mejorar glúteos flácidos podemos emplear hilos corporales tensores.</td>
                    <td>$80.000</td>
                  </tr>
                  <tr>
                    <td>Exfoliación corporal</td>
                    <td>Sirve para eliminar las células muertas que se acumulan en la superficie de la piel, favorecer el proceso de renovación celular, activar la microcirculación.</td>
                    <td>$30.000</td>
                  </tr>
                   <tr>
                    <td>Yeso terapia</td>
                    <td>Se trata de una forma no invasiva para disminuir volumen corporal de forma rápida y eficaz que se lleva a cabo mediante la relajación..</td>
                   <td>$67.000</td>
                  </tr>
                   <tr>
                    <td>Tratamiento para Celulitis</td>
                    <td>Los tratamientos de láser y de radiofrecuencia, así como las cremas con retinol, también pueden ayudar al mejoramiento de la celulitis.</td>
                   <td>$35.000</td>
                  </tr>
                   <tr>
                    <td>Tratamientos Reductor</td>
                    <td>Es un procedimiento avanzado que a través del enfriamiento selectivo permite eliminar la adiposidad localizada de forma definitiva.</td>
                    <td>$30.000</td>
                  </tr>
                </table>
              </div>
          </div>
        </div>

        <div id="s3" class="card">
          <div class = "imgServicio">
            <img src="/img/service/masajes.jpg" height="200rem" weight="250rem">
          </div>
          <div class ="infoServicio">
            <p class = "titleService" >Masajes<p>
            <div class="table-responsive">
                <table class="table">
                  <tr>
                    <th>Nombre del Servicio</th>
                    <th>Descripción del Servicio</th>
                    <th>Precio </th>
                  </tr>
                  <tr>
                    <td>Masajes reductores</td>
                    <td> se utiliza como método para combatir y eliminar la acumulación de grasa de una zona localizada del cuerpo.</td>
                    <td>$35.000</td>
                  </tr>
                  <tr>
                    <td>Masajes relajantes</td>
                    <td> al recibir un contacto repetido y constante, se pierde la sensación de dolor y los músculos se relajan.</td>
                    <td>$30.000</td>
                  </tr>
                  <tr>
                    <td>Masajes terapeuticos</td>
                    <td>  se utilizan en el tratamiento de trastornos neuromusculares y musculo esqueléticos, facilitando la eliminación de toxinas, activando la circulación sanguínea y linfática y mejorando el aporte de oxígeno a los tejidos.</td>
                    <td>$60.000</td>
                  </tr>
                </table>
              </div>
          </div>
      </div>
    </div>
    </main>
{{>footer}}
</div>
