<header class="masthead-login d-flex">
    <div class="container p-4">
        <div class="row">
            <div class="text-center mb-3">
                <a href="/">
                    <img src="/img/logo.png" class="style-logo img-fluid">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card style-card-login">
                    <div class="card-body">
                        <div class="card-img-top text-center style-title-login">
                            <h2>Iniciar Sesión</h2>
                        </div>
                        <form action="/login" method="post">
                            <div class="form-group mb-3">
                                <input type="email" name="correo" class="form-control" placeholder="Nombre de usuario">
                            </div>
                            <div class="form-group mb-3">
                                <input type="password" name="contrasena" class="form-control" placeholder="Contraseña">
                            </div>
                            <div class="form-check">
                                <input class="form-check-input " type="checkbox" name="permaneceConectado"
                                    id="flexCheckDefault">
                                <label class="form-check-label " for="flexCheckDefault">
                                    Permanece conectado
                                </label>
                            </div>
                            <div class="form-group mb-4 mt-5 text-center">
                                <button class="btn btn-success style-button-login mx-auto">
                                    <span style="font-size: 2rem; color:white"><i class="fas fa-arrow-right"></i></span>
                                </button>
                            </div>
                            <div class="form-group text-center">
                                <a class=" style-crear-login" href="/register">Crear una cuenta</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>