<header class="masthead-register d-flex">
    <div class="container style_colum_register m-0">
        <div class="row">
            <div class="col">
                <div class="text-center style-tittle-register">
                    <h1>Registrarse</h1>
                </div>
                <form action="/register" method="post">
                    <div class="form-group style-div-form-register">
                        <input type="text" class="form-control" name="nombre" placeholder="Nombre">
                    </div>
                    <div class="form-group style-div-form-register">
                        <input type="text" class="form-control" name="apellido" placeholder="Apellido">
                    </div>
                    <div class="form-group style-div-form-register">
                        <input type="text" class="form-control" name="cedula" placeholder="Cedula">
                    </div>
                    <div class="form-group style-div-form-register">
                        <input type="email" class="form-control" name="correo" placeholder="Correo electronico">
                    </div>
                    <div class="form-group style-div-form-register">
                        <input type="password" class="form-control" name="contrasena" placeholder="Contraseña">
                    </div>
                    <div class="form-group style-div-form-register">
                        <input type="text" class="form-control" name="telefono" placeholder="Telefono">
                    </div>
                    <div class="form-group text-center pb-3">
                        <button class="btn btn-success">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>